.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: #186b80;
}

.grey,.gray {
    color: grey;
}

.orange {
    color: orange;
}

.orangered {
    color: orangered;
}

.purple {
    color: purple;
}

.brown {
    color: brown;
}
