/* FIXED Remove this file if and when possible */
/* This file is no more in use and can be safely removed */

.marquee {
    /*width: 3200px;*/
    height: 180px;
    overflow: hidden;
    position: relative;
    /*border: 1px solid #aaa;*/
    margin: 0 auto;
    /*box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);*/
    /*-o-border-radius: 18px 18px;*/
    /*-moz-border-radius: 18px 18px;*/
    /*-webkit-border-radius: 18px 18px;*/
    /*border-radius: 18px 18px;*/
    /*background: #f8f8f8;*/
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));*/
    /*background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));*/
}

.scroller {
    display: block;
    width: 4000px;
    height: 180px;
    position: absolute;
    left: 0;
    top: 0;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 15s;
    -moz-animation-name: scroll;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -webkit-animation-name: scroll;
}

.scroller div {
    font-size: 16px;
    line-height: 40px;
    float: left;
    width: 600px;
    color: #000;
    font-weight: bold;
    padding: 0 10px;
}

@-moz-keyframes scroll {
    0% {
        left: 0;
    }
    100% {
        left: -3200px;
    }
}

.scroller:hover {
    /* Uncomment to pause on hover */
    /*-moz-animation-play-state: paused;*/
    /*-webkit-animation-play-state: paused;*/
}

@-webkit-keyframes scroll {
    0% {
        left: 0;
    }
    100% {
        left: -3220px;
    }
}
